@import url("https://fonts.googleapis.com/css2?family=Indie+Flower");
@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@300;700;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Indie Flower", sans-serif;
  background: linear-gradient(to right, #baf9f9, #ffcef8);
}

.App,
.tone,
.feed-button,
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.feed-button {
  margin-top: 1.5em;
}

.title,
.tone-buttons {
  display: flex;
  padding: 2em;
}

.title {
  font-family: "Exo 2", sans-serif;
  color: #fde9ff;
  font-size: 1.3em;
  padding-bottom: 2em;
  text-shadow: 2px 1px 1px #ffd662, 2px 4px 2px #ff80bf, 6px 3px 3px #90b1e0;
}

button {
  border: none;
  text-align: center;
  padding: 0.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  display: inline-block;
  font-size: 2.5em;
  color: black;
  background-color: #ccb5f0;
}

.active,
#feeder:hover {
  color: white;
  background-color: #d4fbe3;
}

.tone-buttons {
  padding-top: 0.5em;
}

#icecream,
#harrypotter {
  border-radius: 25%;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

#feeder {
  border-radius: 50%;
  padding: 0.5em;
  font-size: 7em;
  margin-top: 0.1em;
  margin-bottom: 0.2em;
}

#clear {
  margin-left: 0.3em;
  padding-top: 0.05em;
  padding-bottom: 0.05em;
  font-size: 0.95em;
  font-family: "Indie Flower";
  background-color: #90b1e0;
  border-radius: 5%;
}
